body {
    color: black;
    background-image: url(../img/bg.jpg);
}

#status {
    background-color: red;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

#new_note {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 5px;
}

hr {
    margin: 15px;
}

#list_note {
    background-color: rgba(110, 85, 85, 0.6);
    width: 80%;
    margin-left: 10%;
    height: 500px;
    overflow-y: auto;
}


/* #liste-note>* : les enfants du 1er niveau d'une liste de notes auront ces propriétés
    sans avoir besoin de déclarer la classe dans la balise 
    
    ne pas faire sur les vieilles versions d'IE */

.note,
#list-note>* {
    background-color: khaki;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    box-shadow: 10px 10px 25px black;
}

#list-note>*,
.vue_note {
    display: inline-block;
    width: auto;
    min-width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}


/* icone de fermeture de la note */

.close-icon-block>* {
    width: 18px;
    float: right;
}

.close-icon-block {
    padding: 3px;
}


/* gestion des inputs du formulaire */

.max-center-in-form {
    width: 90%;
    margin-left: 5%;
}

#nom-note {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}


/* sélecteur multiple, s'applique à 2 ID */

#date-note,
#heure-note {
    width: auto;
}

.center {
    text-align: center;
}